.NumerWrapper{
    display: flex;
    flex-direction: column;
}

.right{
    order: -1;
}
.left{
    order: 1;
}

.NumPad{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}

.SubmitButton{
    grid-column-start: 1;
    grid-column-end: -1;
}